h1 {
  text-align: center;
  color: rgb(240, 193, 135);
  font-size: 2rem;
  border: 10px; /* Largeur de 10px et couleur noire */
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
}

.numbers {
  cursor: pointer;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.score {
  text-align: center;
  font-size: 1rem;
  color: bisque;
}

.skull {
  text-align: center;
}

.divButton {
  justify-content: center;
  padding: 1.5rem;

  text-align: center;
  align-items: center;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: red;
  font-weight: bold;
  font-size: 1rem;
  border: 2px red solid;
  border-radius: 15px;
  height: 2rem;
  width: 10rem;
}

.goodReponse {
  font-size: 2rem;
  text-align: center;
  color: bisque;
}

.badReponse {
  color: red;
  font-size: 2rem;
  text-align: center;
}

h2 {
  color: red;
  font-size: 1.3rem;
  text-align: center;
}

.message {
  color: red;
}
